.APIContainer {
  /* display: flex;  
  justify-content: center;
  align-items: center; */
  background-color: rgba(0, 128, 128);
  color: rgb(7, 27, 82);
  font-size: 12px;
  margin: 10px;
  padding: 8px;
}

.panelHeader {
  display: flex;
  align-items: center;
}

.titleContainer {
  margin-right: 10px;
}

.titleContainer p {
  margin-right: 10px;
  font-size: 16px;
  color: white;
}
.panelBar {
  margin-left: auto;
}

.buttonContainer {
  display: flex;
}

.buttonPanels {
  background-color: #007bff;
  color: #fff;
  padding: 5px 16px;
  border: none;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.inactiveButton {
  background-color: gray;
  color: white;
  padding: 5px 16px;
  border: none;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.panelNames {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.navsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navsPokemonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2a75bb;
  /* background-color: #3c5aa6; */
}

.navsContainer > * {
  margin-right: 10px; /* Ajusta el margen derecho entre los componentes según sea necesario */
}

.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  /* border: 1px solid rgb(172, 18, 18); */
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  /* border: 1px solid rgb(172, 18, 18); */
}

.createButton {
  padding: 5px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.cleanButton {
  padding: 5px 10px;
  background-color: rgb(81, 190, 190);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
