.paginationBar {
  display: flex;
  flex-basis: 22%;
  justify-content: center;
  margin-bottom: 20px; /* Ajusta el margen inferior entre los componentes */
  margin-top: 10px;
}

.paginationBar button {
  margin-left: 1px;
  margin-right: 1px;
  padding: 5px;
  /* background-color: #00b4db; */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(81, 190, 190);
  &:hover {
    transform: scale(1.2);
  }
}

.pageNumbers {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-left: 1px;
  margin-right: 1px;
}

.paginationBar input {
  text-align: center;
  border: none;
}

.paginationBar span {
  background-color: #fff;
  color: grey;
  font-size: 10px;
  border: none;
  padding: 5px;
  text-align: center;
}

.paginationBar button:first-child {
  margin-left: 0;
}

.paginationBar button:hover {
  background-color: #ddd;
}

.paginationBar button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationBar button.active {
  background-color: #fff;
  /* color: #00b4db; */
  color: rgb(0, 128, 128);
}

.paginationBar button:focus {
  outline: none;
}

/* .card_list {
  width: 75vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.paginationBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonToGo {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #85b0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonToMove {
  background-color:#fff;  
  width: 30px;
  line-height: 100%;
}



*/
